{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}

    <div class="container">
        {% include 'parts/events.html.twig' %}
    </div>

    {{ pagination_render(maxPages, page, 'event_index') }}

    <hr>

    {{ tags_render() }}

{% endblock %}
