{% extends 'base.html.twig' %}

{% block title %}Events{% endblock %}

{% block body %}

    <div class="container">
        {% embed "parts/items_header.html.twig" %}
            {% block title %}Events{% endblock %}
        {% endembed %}
        {% include 'parts/events.html.twig' %}
    </div>

    {{ pagination_render(maxPages, page, 'event_index') }}

    <hr>

    {{ tags_render() }}

{% endblock %}
