{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}

    {{ form_start(passwordResetForm, {'attr': {'class': 'form-reset-password'}}) }}
        {% include 'parts/flash.html.twig' %}
        <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
        {{ form_label(passwordResetForm.email) }}
        {{ form_widget(passwordResetForm.email) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
    {{ form_end(passwordResetForm) }}

{% endblock %}

{% block stylesheets %}

    <style>
        body {
            background-color: #f5f5f5;
        }

        .form-reset-password {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
            margin-top: 50px;
        }
    </style>

{% endblock %}