{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}

    <form class="form-reset-password" method="post">
        {% include 'parts/flash.html.twig' %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('reset-password') }}">
        <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control mb-3" placeholder="Email address" value="{{ defaultEmail }}"{% if defaultEmail %} disabled{% endif %} required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
    </form>

{% endblock %}

{% block stylesheets %}

    <style>
        body {
            background-color: #f5f5f5;
        }

        .form-reset-password {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
            margin-top: 50px;
        }
    </style>

{% endblock %}