<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1"/>
        <server name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="APP_ENV" value="test"/>
        <env name="APP_SECRET" value="48d748ae82cfdef8f2204002bbbe7905"/>
        <env name="DATABASE_URL" value="mysql://root:root@db:3306/symfony"/>
        <env name="MAIL_FROM" value="send@mail.com"/>
        <env name="PARSER_CASH_IS_ENABLED" value="true"/>
        <env name="_SYMFONY_DEPRECATIONS_HELPER" value="disabled" />
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

</phpunit>
