{% extends 'base.html.twig' %}

{% block title %}{{ phrase }}{% endblock %}

{% block body %}

    <div class="container">
        {% include 'parts/items.html.twig' %}
    </div>

    {{ pagination_render(maxPages, page, 'search', {'q': phrase}) }}

{% endblock %}
