{% extends 'base.html.twig' %}

{% block title %}{{ phrase }}{% endblock %}

{% block body %}

    <div class="container">
        {% embed "parts/items_header.html.twig" %}
            {% block title %}Search: {{ phrase }}{% endblock %}
        {% endembed %}
        {% include 'parts/items.html.twig' %}
    </div>

    {{ pagination_render(maxPages, page, 'search', {'q': phrase}) }}

    <hr>

    {{ tags_render() }}

{% endblock %}
