{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ title }}</h1>
        <hr>
        {{ body|raw }}
    </div>
    <hr>
    {{ tags_render() }}
{% endblock %}
