{% extends 'base.html.twig' %}

{% block title %}{{ source.name }}{% endblock %}

{% block body %}

    <div class="container">
        {% embed "parts/items_header.html.twig" %}
            {% block title %}{{ source.name }}{% endblock %}
        {% endembed %}
        {% include 'parts/items.html.twig' %}
    </div>

    {{ pagination_render(maxPages, page, 'source_items', {'id': source.id}) }}

    <hr>

    {{ tags_render() }}

{% endblock %}
