    <div style="background-color:#ececec;padding:15px;font-size:24px;">
        <div style="margin:0 auto;max-width:600px">
            Doc Spy
        </div>
    </div>
    <div style="padding:5px 0">
        <div style="margin:0 auto;max-width:600px">
            <p>Hi {{ name }}!</p>
            {% block body %}{% endblock %}
        </div>
    </div>
    <div style="background:#ececec;color:#666666;padding:15px">
        <div style="margin:0 auto;max-width:600px">
            Doc Spy
        </div>
    </div>
