{% extends 'base.html.twig' %}

{% block title %}{{ tag.name }}{% endblock %}

{% block body %}

    <div class="container">
        {% include 'parts/items.html.twig' %}
    </div>

    {{ pagination_render(maxPages, page, 'tag_index', {'id': tag.id}) }}

    <hr>

    {{ tags_render(tag.id) }}

{% endblock %}
