
<ul class="navbar-nav ">
    {% for tag in tags %}
        <li class="nav-item active">
        <a href="{{ path('tag_show', {'id': tag.id}) }}" class="nav-link">{{ tag.name }}</a>
        </li>
    {% endfor %}
</ul>