{% extends 'mail.html.twig' %}

{% block body %}
        <p>Your password has been reset to: {{ password }}</p>
        <p>If you did not change your password, please respond to this e-mail immediately.</p>
{% endblock %}
