{% extends 'mail.html.twig' %}

{% block body %}
    <p>Count errors: <b>{{ source.errorCount }}</b>, source: <b>{{ source.name }}</b></p>
    <pre style="border: 1px solid #DDDDDD; padding: 15px">{{ message }}</pre>
{% endblock %}
