{% if user %}
    <ul class="navbar-nav ml-md-3">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.name }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ path('index') }}">Profile</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('logout') }}">Logout</a>
            </div>
        </li>
    </ul>
{% else %}
    <a class="btn btn-outline-primary ml-md-3" href="{{ path('login') }}">Login</a>
{% endif %}